@import url("https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy:400,400i");
html, body {
  font-family: 'Sorts Mill Goudy', serif; }

.container {
  background-color: #000000;
  position: relative;
  height: 100vh; }
  .container .cover {
    position: absolute;
    margin: auto;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    background-color: #e22326;
    overflow: hidden;
    height: 600px;
    width: 404px; }
    .container .cover [class^="author"] {
      text-transform: uppercase;
      letter-spacing: 0.4em;
      text-align: center;
      position: absolute;
      font-size: 0.75em;
      width: 100%;
      opacity: 0;
      animation: fade_in 0.5s ease forwards;
      animation-delay: 6s; }
      .container .cover [class^="author"][class$="firstname"] {
        top: 105px; }
      .container .cover [class^="author"][class$="lastname"] {
        top: 485px; }
    .container .cover .eyes {
      background-image: url("../img/bg.svg");
      transform: rotate(90deg) scale(0.5);
      height: 100%;
      width: 100%;
      animation: eye_intro 2s ease forwards;
      animation-delay: 3.5s; }
      .container .cover .eyes .eyeball {
        position: absolute;
        margin: auto;
        bottom: 0;
        right: 0;
        left: 0;
        top: 0;
        height: 322px;
        width: 322px; }
        .container .cover .eyes .eyeball .iris {
          position: absolute;
          margin: auto;
          bottom: 0;
          right: 0;
          left: 0;
          top: 0;
          background-color: #02aff3;
          border-radius: 50%;
          height: 100%;
          width: 100%;
          opacity: 0;
          animation: scale_in 1s ease forwards;
          animation-delay: 1.5s; }
        .container .cover .eyes .eyeball .pupil {
          position: absolute;
          margin: auto;
          bottom: 0;
          right: 0;
          left: 0;
          top: 0;
          background-color: #231d1f;
          border-radius: 50%;
          height: 180px;
          width: 180px;
          opacity: 0;
          animation: scale_in 1s ease forwards;
          animation-delay: 1s; }
          .container .cover .eyes .eyeball .pupil h1 {
            position: absolute;
            margin: auto;
            bottom: 0;
            right: 0;
            left: 0;
            top: 0;
            text-align: center;
            font-weight: 100;
            font-size: 5em;
            color: #ffffff;
            height: 77px;
            opacity: 0;
            animation: fade_in 1s ease forwards;
            animation-delay: 5.5s; }
    .container .cover .eyeshape {
      position: absolute;
      margin: auto;
      bottom: 0;
      right: 0;
      left: 0;
      top: 0;
      background-image: url("../img/bg_transparent.svg"); }
    .container .cover .eyelids {
      transform: rotate(45deg);
      position: absolute;
      background: #e22326;
      height: 400px;
      width: 400px;
      top: -110px;
      border-bottom-right-radius: 100%;
      animation: blink 1s ease forwards;
      animation-delay: 2.5s; }

@keyframes scale_in {
  0% {
    transform: scale(0);
    opacity: 0; }
  75% {
    transform: scale(0.75);
    opacity: 1; }
  100% {
    transform: scale(1);
    opacity: 1; } }
@keyframes fade_in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes eye_intro {
  0% {
    transform: rotate(90deg) scale(0.5); }
  50% {
    transform: rotate(0) scale(0.5); }
  100% {
    transform: rotate(0) scale(1); } }
@keyframes blink {
  0% {
    top: -110px;
    opacity: 1; }
  50% {
    top: 70px;
    opacity: 1; }
  75% {
    top: -100px;
    opacity: 1; }
  100% {
    top: -110px;
    opacity: 0; } }

/*# sourceMappingURL=style.css.map */
